{% extends 'front/layout.html' %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
{{ object.posts }}
{% for post in object.posts %}
    {% for file in post.files %}
        <p>{{ file }}</p>
        <p>{{ file.name }}</p>
        <p>{{ file.file.url }}</p>
        <a href="{{ file.file.url }}">file</a>
    {% endfor %}
{% endfor %}
{% endblock %}