{% extends 'front/layout.html' %}
{% block content %}
             {% for item in on_main_posts %}
                  {% cycle '<div class="row">' '' ''%}
                  <div class="col-xs-4">
                    <div class="thumbnail">
                      <img data-src="holder.js/300x200" src="{{ item.img.url }}" style="height: 100%; width: 100%; display: block;">
                      <div class="caption">
                        <h3>
                            {{ item.title }}
                        </h3>
                        <p>{{ item.description | slice:":140" }}...</p>
                        <span>
                            <a href="{% url 'post' item.id %}" class="btn btn-default" role="button">Читать далее</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  {% cycle '' '' '</div><br>'%}
                 {% empty %}
                  <div class="col-xs-4">
                     <h4>Нет записей</h4>
                  </div>
                 {% endfor %}
{% endblock %}