<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<div class="container">
    <div class='col-md-12'>
        {% block header %}
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/media/slide_1.jpg" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                    <div class="item">
                      <img src="/media/slide_1.jpg" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                    <div class="item">
                      <img src="/media/slide_1.jpg" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
        {% endblock %}
    </div>
    <div class='col-md-12'>
        {% block top_menu %}
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Главная</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      {% for section in sections.top_sections %}
                          <li{% if section.id == sections.current_top_section %} class="active"{% endif %}>
                              <a href="{% url 'section' section.id %}">{{ section.short_title }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
            </nav>
        {% endblock %}
    </div>
    {% if sections.sub_sections %}
        <div class='col-md-2'>
            {% block left_menu %}
                <ul class="nav nav-pills nav-stacked">
                    {% for section in sections.sub_sections %}
                        <li role="presentation"{% if section.id == sections.current_sub_section %} class="active"{% endif %}>
                            <a href="{% url 'section' section.id %}">{{ section.short_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <div class='col-md-10'>
    {% else %}
        <div class='col-md-12'>
    {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>