{% extends 'front/layout.html' %}
{% block content %}
<h1>{{ object.title }}</h1>
{% for file in post.materials %}
    <a href="{{ file.file.url }}"><span class="glyphicon glyphicon-arrow-down"></span></a>
    <span>{{ file.name }}</span>
    </br>
{% endfor %}
<p>{{ object.description }}</p>
{% endblock %}