{% extends 'front/layout.html' %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
{% for post in object.posts %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.description | slice:":20340" }}... <a href="{% url 'post' post.id %}">подробнее</a></p>
{% endfor %}
{% endblock %}